<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats Web Application</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <h2>All Chats!</h2>
    <hr>

    <div class="newChat">
    <form method="GET" action="/chats/new">
        <button type="submit" class="newbutton">
            + New Chat
        </button>
    </form>
</div>


    <br>

    <% for(let chat of chats) { %>
        <div class="chat">
            <p>Sender : <%= chat.from %></p>
            <div class="message">
                <p><%= chat.message %></p>
                <div class="btn-group">

    <form method="GET" action="/chats/<%= chat._id %>">
        <button class="btn">View</button>
    </form>

    <form method="GET" action="/chats/<%= chat._id %>/edit">
        <button class="btn">Edit</button>
    </form>

    <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
        <button class="btn btn-danger">Delete</button>
    </form>

</div>

            </div>

            <p>Receiver : <%= chat.to %></p>

            <p>
                <%= chat.created_at.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %><br>
                <%= chat.created_at.toDateString() %>
            </p>

            <hr>
        </div>
    <% } %>

</body>
</html>
